# <center>Segmenting and Clustering</center>
This notebook is the assignment based on segmenting and clustering neighbourhoods in Toronto

In [149]:
# Import useful libraries
import numpy as np
import pandas as pd

# Import beautifulsoup to grab data from a website
from bs4 import BeautifulSoup as bs

import requests

Grab the wanted URL and pass it to the beautifulsoup handle

In [150]:
# Url of website we want
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# Grab the HTML off the website
html_raw = requests.get(url).text

We can read this straight into a pandas dataframe using read html

In [151]:
df = pd.read_html(html_raw)[0] # read the html into pandas
df.head() # Look at it

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

We now have to clean the data, start by dropping all the Not assigned rows

In [152]:
df[1] =df[1].replace('Not assigned', np.nan) # Replace all Not assigned to Nan to make it easier
df = df.dropna(axis = 0) # Drop all the nans

Replace the headers with the actual headers and drop the row they are in

In [153]:
df.head() # Look at it

          0                 1                 2
0  Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park

In [154]:
headers = df.iloc[0] # Find the headers
df.columns = list(headers) # Turn headers into string and set as columns
df = df.drop([0]) # Drop the old row
df.head() # Look at it

  Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

Now we need to find all the rows where they are missing a value for neighbourhood and set it equal to the bourough

In [155]:
df.loc[df['Neighbourhood'] == 'Not assigned','Neighbourhood'] = \
df.loc[df['Neighbourhood'] == 'Not assigned','Borough']

Next we are going to group them by the postcode and borough, then combine the strings of the grouped item in neighbourhood

In [156]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x: ','.join(x.astype(str))).reset_index()
df.head() # Look at it

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [157]:
df.shape

(103, 3)